<header>
    <nav>
         <a href="/">MYLbrary</a>
         <ul>
             <li><a href="/author/all">Authors</a></li>
             <li><a href="/author/new">Add Author</a></li>
         </ul>
    </nav>
</header>